.footer__container {
    font-family: "Open Sans", sans-serif;
    color: var(--gray-dark);
    height: 57px;

    display: flex;
    justify-content: center;
    align-items: center;

    .navbar-text {
        height: fit-content;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        span {
            margin: 0 8px;

            .fa-heart {
                color: #ff0000;
            }

            .fa-mug-hot {
                color: #000000;
            }
        }

        a {
            text-decoration: none;
            color: var(--gray-dark);
            margin-left: 5px;
            font-weight: 800;
        }
    }

    @media only screen and (max-width: 500px) {
        .navbar-text {
            font-size: 16px;
        }
    }
}
