.loadingScreen__container {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text__details,
    a {
        text-align: center;
    }

    span {
        margin: 0 8px;

        .fa-heart {
            color: #ff0000;
        }

        .fa-mug-hot {
            color: #000000;
        }
    }

    a {
        margin-top: 10px;
        text-decoration: none;
        color: var(--gray-dark);
        margin-left: 5px;
        font-weight: 800;
    }
}
